.page--footer {
    font-family: $montserrat;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: $lightest-gray;
    margin-bottom: 10px;
}