@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #181719;
  color: #fffffF;
  margin: 0;
}

@media (max-width: 767px) {
  body {
    margin: 0 auto;
  }
}

.page--wrapper {
  height: 100vh;
}

@media (max-width: 767px) {
  .page--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 77px;
  padding-bottom: 0;
}

@media (max-width: 767px) {
  .navbar {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mob--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.navbar--logo {
  border: 1px solid #FFFFFF;
  min-width: 101px;
  min-height: 29px;
  max-width: 101px;
  max-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar--logo_text {
  font-family: "Crimson Pro", serif;
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  margin: 0;
  text-transform: uppercase;
  padding: 8px;
}

#hamburger {
  font-size: 20px;
  cursor: pointer;
  display: none;
}

@media (max-width: 767px) {
  #hamburger {
    display: block;
  }
}

.navbar--list {
  min-width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .navbar--list {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar--list_items {
  display: inline;
  position: relative;
  margin: 26px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
}

.navbar--list_items::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  left: 50%;
  height: 1px;
  background: #fffffF;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.navbar--list_items:hover::after {
  left: 0;
  width: 100%;
}

.navbar--list_items a {
  color: #fffffF;
  text-decoration: none;
}

.navbar--list_items a:visited {
  text-decoration: none;
}

.navbar--list_items a:link {
  text-decoration: none;
}

.hero--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 77px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 96px;
}

@media (max-width: 767px) {
  .hero--wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 2rem;
    gap: 1rem;
  }
}

.hero--infosection_title {
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 61px;
}

@media (max-width: 1199px) {
  .hero--infosection_title {
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 2.875rem;
    /* identical to box height */
  }
}

.hero--infosection_description {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  max-width: 410px;
}

@media (max-width: 1199px) {
  .hero--infosection_description {
    font-size: 0.875rem;
    line-height: 1.0625rem;
  }
}

.hero--image {
  position: relative;
}

.hero--image_img {
  max-width: 800px;
  z-index: 0;
}

@media (max-width: 1199px) {
  .hero--image_img {
    max-width: 100%;
  }
}

.hero--infosection_button {
  border: none;
  background: none;
  color: #fffffF;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.hero--infosection_button span {
  padding: 16px;
}

.hero--card {
  min-width: 410px;
  min-height: 189px;
  padding: 24px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #181719;
  position: absolute;
  right: 5%;
  bottom: -50px;
}

@media (max-width: 575px) {
  .hero--card {
    min-width: auto;
    max-width: 80%;
    min-height: 138px;
  }
}

.card--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.card--image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.card--name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}

@media (max-width: 767px) {
  .card--name {
    font-size: 12px;
    line-height: 15px;
  }
}

.card--position {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-top: 8px;
  /* identical to box height */
}

@media (max-width: 767px) {
  .card--position {
    font-size: 10px;
    line-height: 12px;
  }
}

.card--text {
  font-family: "Lora", serif;
  font-style: normal;
  max-width: 287px;
}

@media (max-width: 767px) {
  .card--text {
    font-size: 18px;
    line-height: 23px;
  }
}

.page--footer {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #A9A9A9;
}

@media (max-width: 767px) {
  .page--footer {
    margin-top: auto;
  }
}
